/* ------ CODES AUTOMAIQUES - BASES ------ */
/* ------ LIENS AUTOMATIQUES ------ */
div.imo-gesli > div#gesli-pos,
div.imo-gesli > div#gesli-neu,
div.imo-gesli > div#gesli-neg,
div.imo-gesli > div#gesli-misc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
div.imo-gesli div.lien-item {
  display: grid;
  grid-template-columns: minmax(0px, 144px) auto;
  grid-gap: 16px;
  padding: 16px;
  border-radius: 16px;
  background: var(--bg2);
}
div.imo-gesli div.lien-item > img {
  grid-row: 1 / 3;
  border-radius: 8px;
  max-width: 144px;
}
div.imo-gesli div.lien-item > span.lien-nom {
  font-size: 20px;
  font-family: var(--font-titre);
  color: var(--text-contrast);
  align-content: center;
}
div.imo-gesli div.lien-item > span.desc-short {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-content: center;
  background: var(--bg1);
  padding: 2px 8px;
  border-radius: 8px;
  line-height: 24px;
  height: 32px;
  position: relative;
  top: -8px;
  margin-bottom: -16px;
}
div.imo-gesli div.lien-item > span.desc-long {
  grid-column: 1 / 3;
  padding: 16px 8px 16px 16px;
  border-right: 8px solid var(--bg1);
  background: var(--bg1);
  border-radius: 8px;
  max-height: 144px;
  overflow-y: auto;
}
div.imo-gesli div.lien-item > span.desc-long::-webkit-scrollbar-button:start:decrement,
div.imo-gesli div.lien-item > span.desc-long::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 8px;
  background: var(--bg1);
}

/* ------ CHRONOLOGIE AUTOMATIQUE ----- */
div.imo-geschro {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: var(--bg2);
  padding: 24px;
  border-radius: 16px;
}
div.imo-geschro div#tabs-list {
  width: 100%;
  overflow-y: auto;
}
div.imo-geschro div#tabs-list::-webkit-scrollbar-track {
    background-color: var(--bg1) !important;
}
div.imo-geschro div#tabs-list::-webkit-scrollbar-thumb {
    border: 2px solid var(--bg2) !important;
    background: var(--bg1) !important;
}
div.imo-geschro div#tabs-list::-webkit-scrollbar-track {
    border: 3px solid var(--bg2) !important;
}

div.imo-geschro div#tabs-list div#tabs-container {
  display: flex;
  gap: 8px;
  width: fit-content;
  padding-bottom: 8px;
  position: relative;
}
div.imo-geschro div#tabs-list div#tabs-container button {
  font-family: var(--font-texte);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 4px 8px;
  background: var(--bg1_transp_5);
  color: var(--text);
  border-radius: 8px;
  text-align: center;
  width: 112px;
}
div.imo-geschro div#tabs-list div#tabs-container button.active-tab {
  background: linear-gradient(to right, var(--co2), var(--co3));
  color: white;
}

div.imo-geschro div.content-div {
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  background: var(--bg1_transp_5);
  border-radius: 8px;
}

div.imo-geschro div.chrono-item {
  display: grid;
  grid-template-columns: 112px auto;
  grid-gap: 8px 24px;
  position: relative;
}
div.imo-geschro div.chrono-item:after {
  display: block;
  width: 1px;
  height: calc(100% - 40px);
  content: " ";
  background-color: var(--co2);
  position: absolute;
  left: 56px;
  bottom: -16px;
}
div.imo-geschro div.chrono-item:last-of-type:after {
  height: calc(100% - 60px);
  bottom: 0px;
}
div.imo-geschro div.chrono-item > span.timestamp {
  grid-row: 1 / 3;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 0px;
  justify-content: flex-end;
}
div.imo-geschro div.chrono-item > span.timestamp > span.periode {
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-texte);
  color: var(--text);
}
div.imo-geschro div.chrono-item > span.timestamp > span.annee {
  font-family: var(--font-titre);
  font-size: 20px;
  color: var(--text-contrast);
}
div.imo-geschro div.chrono-item > span.titre {
  font-weight: 500;
  color: var(--text-contrast);
  align-content: flex-start;
}
div.imo-geschro div.chrono-item > span.titre:last-child {
  grid-row: 1 / 3;
  align-items: center;
  justify-items: center;
  align-content: center;
  display: flex;
  width: 100%;
}
div.imo-geschro div.chrono-item > span.desc {
  padding: 16px 8px 16px 16px;
  border-right: 8px solid var(--bg1);
  background: var(--bg1);
  border-radius: 8px;
  max-height: 80px;
  overflow-y: auto;
}
div.imo-geschro div.chrono-item > span.desc::-webkit-scrollbar-button:start:decrement,
div.imo-geschro div.chrono-item > span.desc::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 8px;
  background: var(--bg1);
}


/* ------ MOODBOARD AUTOMATIQUE ------ */
div#imo-gesmoo,
div.imo-gesmoo {
  max-width: 540px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0px;
  border-radius: 16px;
  overflow: hidden;
}
div#imo-gesmoo > img,
div.imo-gesmoo > img {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}
