form#editLiens {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}
form#liensForm {
  margin-top: 32px;
}

form#editLiens div.formsection {
  padding: 24px;
  background: var(--bg1_transp_5);
  border-radius: 16px;
}

form#editLiens > h3,
form#liensForm > h3 {
  width: 100%;
  position: relative;
  left: 0px;
  line-height: 40px;
}
form#editLiens > h3:before,
form#liensForm > h3:before {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  top: -16px;
  left: -16px;
  border-radius: 0 0 0 calc(16px*2);
  visibility: visible !important;
}
form#editLiens > h3:after,
form#liensForm > h3:after {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  bottom: -16px;
  left: -16px;
  border-radius: 0 0 0 calc(16px*2);
  transform: rotate(90deg);
  visibility: visible !important;
}

form#editLiens div.formsection h4 {
  grid-column: 1/7;
  background: var(--bg1);
  padding: 8px 16px;
  border-radius: 8px;
}
form#editLiens div.formsection h4 span {
  width: max-content;
  text-align: right;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-weight: normal !important;
  font-family: var(--font-titre);
  font-feature-settings: 'ss02' on;
  color: var(--text-contrast)!important;
  background: linear-gradient(45deg, var(--co1), var(--co3), var(--co2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 24px;
  line-height: 32px;
  align-self: flex-end;
}

div#gesli-pos,
div#gesli-neu,
div#gesli-neg,
div#gesli-misc {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/7;
}

#editLiens div.lien-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#editLiens div.lien-item img {
  max-width: 100%;
  margin: auto;
  border-radius: 8px;
}
#editLiens div.lien-item div.type-order {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto 96px;
}
#editLiens div.lien-item div.type-order > div.field:last-of-type {
  width: 96px;
}
#editLiens div.lien-item div.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#editLiens div.lien-item div.field label {
  font-size: 14px;
  color: var(--text-contrast);
  font-weight: 500;
}
#editLiens div.lien-item input[name="lien-nom"] {
  font-size: 16px !important;
}
#editLiens div.lien-item div.field textarea {
  width: 100%;
  height: 112px;
}
#editLiens div.lien-item label[for="delete-checkbox"] {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

form#editLiens > h3 {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
form#editLiens > h3 > a {
  font-family: var(--font-texte) !important;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
}

form#liensForm div.addnew {
  margin: 24px;
}
form#liensForm #gesli-addnew {
  grid-column: 1/7;
  gap: 16px;
}
form#liensForm #gesli-addnew > div,
form#liensForm #gesli-addnew > div.type-order > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
form#liensForm #gesli-addnew > div.type-order {
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-gap: 16px;
  margin-bottom: -16px;
}
form#liensForm #gesli-addnew > div:last-of-type {
  margin-top: -8px;
}
form#liensForm #gesli-addnew label {
  font-size: 14px;
  color: var(--text-contrast);
  font-weight: 500;
}
form#liensForm #gesli-addnew input[name="lien-nom"] {
  font-size: 16px !important;
}
form#liensForm #gesli-addnew textarea {
  width: 100%;
  height: 112px;
}
form#liensForm #gesli-addnew span.hint {
  margin: 0px !important;
}

form#editLiens button#editButton,
form#liensForm #gesli-addnew button#confirmButton{
  align-self: center;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
}
