form#editLiens {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
form#liensForm {
  margin-top: 32px;
}

form#editLiens div.formsection {
  padding: 24px;
  background: var(--bg1_transp_5);
  border-radius: 16px;
}
form#editLiens div.form_container h3:before {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  top: -16px;
  left: -16px;
  border-radius: 0 0 0 calc(16px*2);
  visibility: visible !important;
}
form#editLiens div.form_container h3:after {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  bottom: -16px;
  left: -16px;
  border-radius: 0 0 0 calc(16px*2);
  transform: rotate(90deg);
  visibility: visible !important;
}

form#editLiens div.formsection h4 {
  grid-column: 1/7;
}

div#gesli-pos,
div#gesli-neu,
div#gesli-neg,
div#gesli-misc {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/7;
}

#editLiens div.lien-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#editLiens div.lien-item img {
  max-width: 100%;
  margin: auto;
  border-radius: 8px;
}
#editLiens div.lien-item div.type-order {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto 96px;
}
#editLiens div.lien-item div.type-order > div.field:last-of-type {
  width: 96px;
}
#editLiens div.lien-item div.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#editLiens div.lien-item div.field label {
  font-size: 14px;
  color: var(--text-contrast);
  font-weight: 500;
}
#editLiens div.lien-item input[name="lien-nom"] {
  font-size: 16px !important;
}
#editLiens div.lien-item div.field textarea {
  width: 100%;
  height: 112px;
}
#editLiens div.lien-item label[for="delete-checkbox"] {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
