/* --- CONFIRMATION SCREEN --- */
.msgdie-panel {
  margin: 24px auto !important;
}
.msgdie-panel div.metadata > p {
  font-size: 12px;
}
.msgdie-panel h1.page-title {    
  border: 0;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 32px;
  line-height: 48px;
}
.msgdie-panel .inner {
  background: var(--bg1);
  padding: 16px;
  border-radius: 16px;
  color: var(--text);
}
.msgdie-panel .inner p:last-child {
  margin: 0;
}

/* --- FAQ --- */
h1.page-title.faq {
  color: var(--text-contrast);
  font-family: var(--font-titre);
  font-size: 3rem;
  font-weight: 500;
  max-width: 1048px;
  margin: 24px auto !important;
}
.block {
  color: var(--text);
  background: var(--bg1) !important;
  border-radius: 16px;
  box-shadow: none;
  font-size: 14px;
  margin-bottom: 24px;
  overflow: hidden;
  padding: 16px;
}
dl.faq dt {
    color: var(--text-contrast);
    font-size: 24px;
    font-family: var(--font-titre);
    line-height: 32px;
    margin: 0;
    margin-bottom: 8px;
}
span#faqCookies {
  color: var(--text-contrast);
  font-size: 24px;
  font-family: var(--font-titre);
  line-height: 32px;
  margin: 0;
}
dl.faq dd p {
  padding: 16px;
  margin: 8px 0 16px 0;
  border-radius: 16px;
  color: var(--text);
  background: var(--bg2);
  font-size: 14px;
  line-height: 21px;
}
