/* ------ PAGE D'ACCUEIL ------ */
#content-container #left,
#content-container #right{
  float: initial !important;
  width: 100%;
  display: flex;
  gap: 24px;
}
#content-container #container {
  margin: auto !important;
}
#left.pa_widgets div.h3 { 
  display: none;
}

/* ------ WIDGET DERNIER INSCRIT ------ */
.pa_widgets #Statistiques > span:not(.mod-stats-user) {
  display: none!important;
}

/* ------ WIDGET NEWS ------ */
.pa_widgets #News {
  width: 400px;
  overflow: auto;
  background: var(--bg1);
  border-radius: 16px;
}
.pa_widgets #News .content > div {
  display: flex;
  gap: 16px;
  width: max-content;
}
.pa_widgets #News .content > div > a {
  width: 200px;
}


/* --- WIDGET FOOTER - PARTENAIRES --- */
#footer_widgets {
  border: 0px;
  border-top: 1px var(--bg2) solid !important;
  background-color: var(--bg1_transp_5);
  backdrop-filter: blur(4px);
}
#f_widgets_col_0 {
  align-items: center;
}
#f_widgets_col_0 > div {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 32px;
  width: 100%;
  max-width: 1016px !important;
  margin: auto 32px;
  padding: 24px 0;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}
#f_widgets_col_0 > div img {
  transition: var(--transi);
  filter: invert(0);
  opacity: 1;
}
body.light #f_widgets_col_0 > div img {
  filter: invert(1);
  opacity: 0.6;
}

/* --- FOOTER --- */
#page-footer {
  background: var(--bg1);
}
#page-footer > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px 16px;
  padding: 24px 32px;
  margin: 0 auto;
  width: 100%;
  max-width: 1048px;
  background: transparent;
}
#page-footer.admin > div {
  grid-template-columns: minmax(1px,188px) auto !important;
}
#page-footer > div > div.credits {
  order: 1;
  color: var(--text);
  font-size: 12px;
  margin: auto;
  margin-bottom: 40px;
  grid-template-columns: 240px auto;
  display: inline-grid;
  grid-gap: 32px;
  max-width: 1048px;
}
#page-footer.admin > div > div.credits {
  grid-column-start: 1;
  grid-column-end: 3;
}
#page-footer > div > div.credits > div.liens {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: -webkit-fill-available;
}
#page-footer > div > div.credits > div.liens > a {
  display: flex;
  gap: 4px;
  align-items: center;
  width: fit-content;
  padding: 4px 8px 4px 6px;
  border: 1px solid var(--text);
  border-radius: 4px;
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: var(--transi);
}
#page-footer > div > div.credits > div.liens > a:hover {
  border: 1px solid var(--text-contrast);
  color: var(--text-contrast);
}
#page-footer > div > div.credits > span.disclaimer {
  text-align: left;
  font-size: 14px;
}
#page-footer > div > div.credits > span.disclaimer a {
  border-bottom: 1px solid var(--co2);
  color: var(--co2);
}
#page-footer > div > div.credits > span.disclaimer a:hover {
  border-bottom: 1px solid var(--text-contrast);
  color: var(--text-contrast);
}

#page-footer > div > div.copyright {
  order: 2;
  text-align: left;

  font-size: 11px;
  letter-spacing: var(--letter-space);
  text-transform: uppercase;
}
#page-footer > div > div.copyright > br {
  display: none !important;
}
#page-footer > div > ul.footerbar-system {
  order: 3;
  text-align: right;
  padding: 0;
  color: var(--text-contrast);
  font-size: 11px;
  letter-spacing: var(--letter-space);
  text-transform: uppercase;
}
#page-footer:not(.admin) > div > ul.footerbar-system {
  text-align: center;
}
#page-footer:not(.admin) > div > ul.footerbar-system .rightside {
  text-align: center;
  float: initial !important;
}

.footerbar-system a, .footerbar-user a, .copyright a {
  color: var(--text-contrast);
}

