/* ------ NAVIGATION ----- */

/* -- BOUTON UP DOWN -- */
div.nav_ancres {
  position: fixed;
  right: 0;
  top: 50%;
  padding: 8px 6px;
  background: var(--bg1);
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 8px 0px 0px 8px;
  color: var(--text-contrast);
  align-items: center;
  z-index: 99;
}
div.nav_ancres > a {
  color: var(--text-contrast);
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.nav_ancres > span {
  display: block; 
  height: 1px;
  width: 100%;
  background-color: var(--bg3);
}

/* -- TOOLBAR FA -- */
#fa_toolbar {
  min-width: initial;
  width: 42px;
  background-color: transparent !important;
  left: auto !important;
  right: 116px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#fa_left, #fa_search, #fa_share,
#fa_menu, #fa_hide, a.rightHeaderLink:not(#fa_notifications) { display: none !important; }

#fa_right > #fa_notifications {
    display: grid !important;
    line-height: 28px;
    height: 28px;
    width: 28px;
    padding: 0 6px;
    font-size: 0px;
    margin: 4px 0px!important;
    color: rgba(0,0,0,0);
    border-radius: 50%;
    transition: var(--transi);
    background-color: var(--bg2_transp_7) !important;
    border: 1px solid var(--bg3);
}
#fa_toolbar > #fa_right.notification > #fa_notifications {
  background-color: var(--bg2_transp_7) !important;
}
#fa_right > #fa_notifications:hover {
  background-color: var(--bg2) !important;
}
#fa_right #fa_notifications ion-icon { 
  font-size: 16px !important;
  color: var(--text-contrast);
  align-self: center;
  justify-self: center;
  position: relative;
  left: -1px;
}
#fa_toolbar #fa_right #fa_notifications #notif_unread {
    display: inline-block;
    margin-left: 0px;
    font-size: 7px;
    background: var(--co2);
    color: white !important;
    line-height: 14px;
    width: 14px;
    height: 14px;
    text-align: center;
    font-weight: bold;
    padding: 0;
    border-radius: 100px;
    position: absolute;
    right: 2px;
    top: 8px;
    transition: var(--transi);
    box-shadow: 0 0 0 0 rgba(var(--co2_rgb), 1);
    transform: scale(1);
}
#fa_toolbar #fa_right #fa_notifications #notif_unread:empty {
    display: none;
}
#fa_toolbar #fa_right.notification #notif_list {
  font-family: var(--font-texte);
  left: auto !important;
  right: 0px !important;
  width: 300px;
  border-radius: 0 0 8px 8px;
  border: none;
  background-color: transparent;
  box-shadow: none;
}

/* -- TOOLBAR CUSTOM -- */
#top_toolbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 116px 1fr;
  align-items: center;
  height: 42px;
  justify-content: space-between;
  padding: 0 8px;
  background: var(--bg1);
  font-size: 16px;
  z-index: 99999999;
}
.toolbar_right {
  display: flex;
  height: 42px;
  gap: 8px;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
}
.toolbar_right > div,
.toolbar_right > a{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: var(--text-contrast);
}
.toolbar_right:not(.guest) > a#annonces {
  margin-right: 40px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: var(--bg2_transp_7) !important;
  border: 1px solid var(--bg3);
}
.toolbar_right > a#annonces:hover {
  background: var(--bg3);
}
.toolbar_right > a#annonces.new-msg:after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    content: " ";
    background: var(--co2);
    color: white !important;
    animation: pulse1 2s infinite;
    position: absolute;
    top: 2px;
    right: 8px;
    transition: var(--transi);
    box-shadow: 0 0 0 0 rgba(var(--co1_rgb), 1);
    transform: scale(1);
}

/* -- MENU -- */
#headerbar-top {
  height: auto !important;
  display: flex;
  gap: 24px;
  align-items: center;
}
#headerbar-top .navbar {
  width: fit-content;
}
ul.navbar {
  text-align: center;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg1_transp_7);
  padding: 8px 0;
}
ul.navbar img, .login-for img {
  display: none;
}
ul.navbar li { margin: 0px; }
ul.navbar li a {
  color: var(--text-contrast);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: var(--letter-space);
  transition: var(--transi);
}
ul.navbar li a:hover {
  color: var(--text-contrast);
  background-color: var(--bg1);
  box-shadow: none !important;
}

/* -- DARK MODE SWITCHER -- */
button.sun_moon { 
  color: var(--text-contrast);
  font-family: var(--font-text);
  position: relative;
  padding: 4px;
  background: var(--bg2);
  border-radius: 16px;
  border: 1px var(--bg3) solid;
  height: 28px;
  width: 116px;
  transition: var(--transi);
}
button.sun_moon > span {
  display: flex;
  gap: 4px;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
button.sun_moon > span > span {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 11px;
  display: inline-block;
  width: -webkit-fill-available;
  text-align: center;
}
body.dark button.sun_moon > span.moon { 
  opacity: 0;
  display: none !important;
}
button.sun_moon > span.moon > ion-icon { order: 2; }
body.light button.sun_moon > span.sun {
  opacity: 0;
  display: none !important;
}
button.sun_moon > span > ion-icon {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 17px;
  height: 12px;
  font-size: 10px;
}
button.sun_moon > span.sun > ion-icon {
  background: var(--co2);
}
button.sun_moon > span.moon > ion-icon {
  background: var(--co1);
  color: var(--light_2);
}


/* ---- MINI-PROFIL ---- */
div.switcheroo_container {
  z-index: 998;
  width: auto !important;
}
div.switcheroo_container > div.switcher_drop {
  height: 32px;
  position: relative;
  z-index: 999999;
}

/* -- BOUTON -- */
div.switcher_drop > a.switcher-img {
  display: flex;
  height: 28px;
  background: var(--bg2);
  border-radius: 16px;
  padding: 4px 6px 4px 4px;
  margin: 2px 0;
  border: 1px solid var(--bg3);
  gap: 4px;
  flex-direction: row-reverse;
  align-items: center;
  transition: var(--transi);
}
div.switcher_drop > a.switcher-img.open {
  background: var(--bg3);
}
div.switcher_drop > a.switcher-img .js-avatar {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
  transition: var(--transi);
  opacity: 1;
}
div.switcher_drop > a.switcher-img .js-avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--bg2);
}
div.switcher_drop > a.switcher-img .js-avatar.active {
  opacity: 0.7;
}
div.switcher_drop > a.switcher-img ion-icon { color: var(--text-contrast); }

/* -- DRAWER --*/
div.switcher_drop > div.user-switcher {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: max-content;
  position: fixed;
  top: 40px;
  right: 24px;
  z-index: 19999;
  transform-origin: center top;
  transition: var(--transi);
  transform: scaleY(100%);
  opacity: 1;
  background: var(--bg1);
  border-radius: 0px 0px 8px 8px;
  overflow: hidden;
}
div.switcher_drop > div.user-switcher.switch-hide {
  transform: scaleY(0%)!important;
  opacity: 0!important;
}

/* -- USERNAME ET LIENS UTILES --*/
div.switcher_drop > div.user-switcher > div.mini-profil {
  padding: 8px;
  display: grid;
  grid-gap: 1px;
}

/* -- USERNAME --*/
div.switcher_drop > div.user-switcher > div.mini-profil > span {
  margin-bottom: 8px;
  font-size: 16px;
  font-family: var(--font-titre);
  color: var(--text-contrast);
  line-height: 24px;
  padding: 0px 2px;
}
div.switcher_drop > div.user-switcher > div.mini-profil a#profil_id {
  color: var(--co2);
}
div.switcher_drop > div.user-switcher > div.mini-profil a#profil_id:hover {
  color: var(--text-contrast);
}

/* -- MESSAGES ET POINTS --*/
div.switcher_drop > div.user-switcher > div.mini-profil div.side-profile-infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
  grid-gap: 1px;
}
div.switcher_drop > div.user-switcher > div.mini-profil div.side-profile-infos > span,
div.switcher_drop > div.user-switcher > div.mini-profil div.side-profile-infos > a {
  color: var(--text-contrast);
  background: var(--bg2);
  padding: 8px;
  line-height: 20px;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: var(--transi);
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.switcher_drop > div.user-switcher > div.mini-profil div.side-profile-infos > a {
  gap: 4px;
  font-weight: 600;
}
div.switcher_drop > div.user-switcher > div.mini-profil div.side-profile-infos > a ion-icon{
  color: var(--co2);
  font-size: 16px;
}
div.switcher_drop > div.user-switcher > div.mini-profil div.side-profile-infos > a:hover {
  background: rgba(var(--co3_rgb),0.3);
}
div.switcher_drop > div.user-switcher > div.mini-profil div.side-profile-infos > span nb {
  font-weight: normal;
  font-family: var(--font-titre);
  font-style: normal;
  line-height: 24px;
  font-size: 20px;
  margin: 0;
}
body.dark div.switcher_drop > div.user-switcher > div.mini-profil div.side-profile-infos > span nb { color: var(--co2) !important; }
body.light div.switcher_drop > div.user-switcher > div.mini-profil div.side-profile-infos > span nb { color: var(--co1) !important; }

/* -- RACCOURCIS UTILES --*/
div.switcher_drop > div.user-switcher > div.mini-profil div.mini-profil-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 0px 0px 8px 8px;
  overflow: hidden;
  justify-items: center;
}
div.switcher_drop > div.user-switcher > div.mini-profil div.mini-profil-links a {
  position: relative;
  align-self: center;
  font-size: 16px;
  padding: 8px;
  background: var(--bg2);
  width: 100%;
  width: -webkit-fill-available;
  text-align: center;
  transition: var(--transi);
  overflow: hidden;
}
div.switcher_drop > div.user-switcher > div.mini-profil div.mini-profil-links a ion-icon {
  position: relative;
  z-index: 2 !important;
  color: var(--text-contrast);
  transition: var(--transi);
}
div.switcher_drop > div.user-switcher > div.mini-profil div.mini-profil-links a:hover ion-icon { color: white !important; }
div.switcher_drop > div.user-switcher > div.mini-profil div.mini-profil-links a:after {
  display: inline-block;
  content: " ";
  opacity: 0;
  width: 1px;
  height: 1px;
  background: linear-gradient(to right, var(--co3), var(--co2));
  position: absolute;
  top: 50%;
  left: 50%;
  transition: var(--transi);
  transform-origin: center center;
  z-index: 1;
  border-radius: 50%;
}
div.switcher_drop > div.user-switcher > div.mini-profil div.mini-profil-links a:hover:after {
  transform: scaleX(7000%) scaleY(7000%);
  opacity: 1;
}
div.switcher_drop > div.user-switcher > div.mini-profil div.mini-profil-links a:hover .ion-icon {
  color: white;
}

/* -- USER SWITCHER & SWITCHEROO CUSTOM --*/
div.switcher_drop > div.user-switcher > div.user-switcher_header {
  height: 28px;
  grid-template-columns: auto max-content;
  justify-content: space-between;
  display: grid;
  padding: 8px 8px 0px 12px;
}
div.switcher_drop > div.user-switcher > div.user-switcher_header > span {
  display: inline-block;
  width: -webkit-fill-available;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #90847C;
}
div.switcher_drop > div.user-switcher > div.user-switcher_header a:link {
  font-size: 10px;
  text-align: center;
  align-self: flex-end;
  align-content: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  display: inline-block;
  width: 132px;
  padding: 0px 4px;
  border-radius: 4px;
  border: 1px var(--text-contrast) solid;
  line-height: 20px;
  gap: 4px;
  border-radius: 4px;
  transition: var(--transi);
  opacity: 1;
}
div.switcher_drop > div.user-switcher > div.user-switcher_header a:hover {
  opacity: 0.5;
}

/* -- SWITCHEROO - CUSTOM STYLES --*/
nav.switcheroo {
  color: var(--text-constrast);
  font-size: 12px;
  height: auto;
  z-index: 100;
  opacity: 1;
}
nav.switcheroo > ul.switcheroo__squircles {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 8px;
  gap: 8px;
  width: 100%;
  background-color: var(--bg1);
  border-radius: 0px 0px 8px 8px);
}
nav.switcheroo[direction="vertical"] > ul.switcheroo__squircles { 
  flex-direction: column;
}

/* --- LISTE DES COMPTES - LIGNES INDIVIDUELLES --- */
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle {
  position: relative;
  display: grid;
  grid-template-columns: 4px 24px minmax(0,100%) 16px;
  grid-gap: 8px;
  padding: 8px 12px 8px 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--transi);
}
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle.active {
  cursor: default;
  position: relative;
}
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle:not(.active) .switcheroo__avatar,
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle:not(.active) .switcheroo__popper {
  position: relative;
  left: 0px;
  transition: var(--transi);
}
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle:not(.active):hover .switcheroo__avatar,
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle:not(.active):hover .switcheroo__popper {
  left: 8px;
}
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle:not(.active):hover {
  background-color: var(--bg2);
}
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle:before {
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  background-color: var(--co2);
  border-radius: 50%;
  transition: var(--transi);
  pointer-events: none;
  position: relative;
  opacity: 0;
  left: -16px;
}
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle:hover:before {
  opacity: 1;
  left: 8px;
}
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle.active:before,
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle.active:hover:before {
  opacity: 1;
  left: 0px;
}
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle.active .switcheroo__avatar,
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle.active .switcheroo__popper {
  left: 0px !important;
}

/* ---- BOUTON ASSOCIER UN PERSONNAGE --- */
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle:last-child{
  gap: 0px;
  display: flex;
  font-size: 0px;
  transition: var(--transi);
  background: linear-gradient(90deg, rgba(var(--co2_rgb), 0.2) 0%, rgba(var(--co1_rgb), 0.4) 50%, rgba(var(--co2_rgb), 0.4) 100%);
  background-size: 200% 200%;
  background-position: center left;
  border-radius: 8px !important;
}
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle:last-child:hover{
  background-position: center right;
}
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle:last-child:before{
  display: none !important;
}
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle:last-child .switcheroo__avatar,
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle:last-child .switcheroo__popper,
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle:last-child:hover:before{
  left: 0px!important;
}

/* NOM DU COMPTE */
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle .switcheroo__popper {
  width: -webkit-fill-available;
  pointer-events: none;
  color: var(--text);
  font-family: var(--font-texte);
  font-size: 13px;
  line-height: 24px;
  transition: var(--transi);
  font-weight: normal;
}
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle.active .switcheroo__popper,
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle:hover .switcheroo__popper{
  color: var(--text-contrast) !important;
  font-weight: 600 !important;
}
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle:last-child .switcheroo__popper{
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--text-contrast);
  text-align: center;
  width: auto;
}

/* AVATAR */
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle .switcheroo__avatar {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle .switcheroo__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BOUTON SUPPRIMER */
nav.switcheroo > ul.switcheroo__squircles > li.switcheroo__squircle .switcheroo__delete {
  display: flex;
  justify-content: center;
  width: 20px;
  line-height: 20px;
  font-size: 20px !important;
  height: 20px;
  opacity: 1;
  cursor: pointer !important;
  color: var(--co2);
}

/* MODALE CONNEXION */
.monomer-modal {
  padding: 24px;
  border-radius: 16px;
  z-index: 21000 !important;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 94%;
  transition: 0.2s opacity ease;
  transform: translate(-50%, -50%);
  background: var(--bg1);
  color: var(--text);
}
.switcheroo__form {
  padding-top: 0px;
}
.monomer-modal__content:before{
  content: "Isekai Monogatari";
  text-transform: uppercase;
  font-family: var(--font-titre);
  color: var(--text-contrast);
  display: block;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  margin: 16px 0px 16px;
}
.switcheroo__form:before{
  content: "Connecter un nouveau compte";
  font-family: var(--font-texte);
  color: var(--text);
  display: block;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.5px;
  margin: 0px 0px 16px 0px;
}
.switcheroo__form-row {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 16px;
}
.switcheroo__form-row input[name="username"], 
.switcheroo__form-row input[name="password"]{ width: 100% !important; }
.switcheroo__form-label {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-contrast) !important;
}
.switcheroo__form-input {
  padding: 8px !important;
  font-size: 14px !important;
  border-radius: 4px !important;
  width: calc(100% - 16px)!important;
  background-color: var(--bg2)!important;
  color: var(--text)!important;
  border: 0px!important;
  cursor: text!important;
}
.switcheroo__form-button {
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 12px;
  align-self: flex-start;
  font-family: var(--font-texte);
  line-height: 20px;
  color: var(--text-contrast);
  background-image: linear-gradient(to right, rgba(var(--co2_rgb),0.5), rgba(var(--co3_rgb),0.5));
  margin: auto;
  position: relative;
}
.monomer-overlay {
  position: fixed;
  z-index: 20999;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s opacity ease;
  background: rgba(var(--bg1_rgb), 0.6);
  backdrop-filter: blur(4px);
}
.monomer-modal.monomer-open.monomer-anchored { top: 20px; transform: translate(-50%, 0); }
.monomer-modal.monomer-open { opacity: 1; }
.monomer-overlay.monomer-open { opacity: 1; }
.monomer-close {
  font-family: var(--font-texte);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 5px;
  cursor: pointer;
  color: var(--co2);
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 50%;
  padding: 0;
}
.monomer-close:hover { opacity: 0.8; }
